.grid-container {
  background: white;
  color: #212121;
  width: 80%;
  display: inline-block;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  margin: 0 auto;
}
