/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;
  background: #e91e63;
  color: white;
}

main {
  position: relative;
  width: 100%;
}
