/* You can add global styles to this file, and also import other style files */
@import "variables";

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  background: $primary-color;
  color: $primary-font-color;
}

main {
  position: relative;
  width: 100%;
}
